@charset "UTF-8";
.detail-header {
	padding: 0 30px;
}

.menu-box-1 {
	background-color: gray;
}

.menu-box-1>ul {
	display: flex;
	padding: 0 30px;
}

.menu-box-1>ul>li>a {
	padding: 20px;
}

.menu-box-1>ul>li:hover>a {
	background-color: white;
	color: black;
}

.project-detail-container {
	padding: 0 30px;
}

.postTimeline {
	min-width: 674px;
	max-width: 674px;
}

.reportArea {
	border: 1px solid gray;
}

.reportArea > h1 {
	padding: 0 20px;
	font-size: 20px;
	font-weight: 100px;
}

.layer,.layer-bg {
	display: none;
}

.layer-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9998;

}

.layer {
	background-color: #fefefe;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	z-index: 9999;
	color: black;
	border-radius: 10px;
	max-width: 1000px;
    max-height: 100%;
    height: 830px;
/*    overflow-y: auto;*/
}

.layer > .close-btn-x {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

#close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.status-btn-write, .status-btn-update {
  background-color: #f8f8f8;
  color: black;
  margin-right: 10px;
}

.status-btn-write.active, .status-btn-update.active {
  background-color: #4CAF50;
  color: white;
}

#submitBtn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 33%;
  display: block;
  margin-top: 20px;
}

#submitBtn:hover {
  opacity: 0.8;
}

#autocomplete-results div {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 1.1rem;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: #212529;
    cursor: pointer;
}

#autocomplete-results div:hover {
    background-color: #ced4da;
}

#inputArea {
  margin-top: 20px;
}

.autocomplete-container {
  position: relative;
}

#autocomplete-results {
  position: absolute;
  top: 100%;	
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.tag {
	font-size: 1.1rem;
}

.tag-remove {
  /* 기존 스타일... */
  padding: 2px;  /* 내부 여백을 원하는 크기로 조정 */
}

.tag-remove svg {
  width: 20px;   /* SVG 이미지의 너비를 조정 */
  height: 20px;  /* SVG 이미지의 높이를 조정 */
  padding: 0;
  margin: 0;
}

ul.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
	z-index: 10000000;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-helper-hidden-accessible {
    display: none;
}

.ui-menu-item {
	font-size: 13px;
	padding: 10px;
}

.ui-menu-item:hover {
    background-color: #ccc /* 원하는 배경색으로 변경 */
}

/* '그룹미지정'에 해당하는 막대를 숨김 */
.highcharts-series-group .highcharts-point[data-id="그룹 미지정"] {
    display: none;
}