@charset "UTF-8";
.detail-header {
	padding: 15px 30px;
}

.menu-box-1 {
	background-color: gray;
}

.menu-box-1>ul {
	display: flex;
	padding: 0 30px;
}

.menu-box-1>ul>li>a {
	padding: 20px;
}

.menu-box-1>ul>li:hover>a {
	background-color: white;
	color: black;
}

.project-detail-container {
	padding-left: 200px;
	padding-right: 150px;
}

.postTimeline {
	min-width: 674px;
	max-width: 674px;
}

.reportArea {
	
}

.reportArea > h1 {
	padding: 0 20px;
	font-size: 20px;
	font-weight: 100px;
}

.layer,.layer-bg {
	display: none;
}

.layer-bg {
/*	position: absolute;*/
/*	top: 0;*/
/*	left: 0;*/
/*	right: 0;*/
/*	bottom: 0;*/
/*	background-color: rgba(0, 0, 0, 0.5);*/
/*	z-index: 9998;*/
  display: none; /* 모달 창은 기본적으로 표시되지 않음 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

}

.layer {
	background-color: #fefefe;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	z-index: 9999;
	color: black;
	border-radius: 10px;
	max-width: 1000px;
/*    max-height: 100%;*/
    height: 85%;
    /* 고정 위치 스타일링 */
    position: fixed;
    top: 50%; /* 브라우저 창의 중앙 정렬을 위해 margin:0 auto하면 글쓰기창이 못따라옴 */
    left: 50%; /* 중앙 정렬 */
    transform: translate(-50%, -50%); /* 정확히 중앙에 위치하도록 조정 */
    
    
    overflow-y: auto;
}

.layer .close-btn-x {
	color: #aaa;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

.close-btn-x:hover,
.close-btn-x:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.status-btn-write, .status-btn-update {
  background-color: #f8f8f8;
  color: black;
  margin-right: 10px;
}

.status-btn-write.active, .status-btn-update.active {
  background-color: #4CAF50;
  color: white;
}

#submitBtn {
  background-color: #4CAF50;
  color: white;
  padding: 15px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 33%;
  display: block;
  margin-top: 20px;
  font-size: 14px;
}

#submitBtn:hover {
  opacity: 0.8;
}

#autocomplete-results div {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 1.1rem;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: #212529;
    cursor: pointer;
}

#autocomplete-results div:hover {
    background-color: #ced4da;
}

#inputArea {
  margin-top: 20px;
}

.autocomplete-container {
  position: relative;
}

#autocomplete-results {
  position: absolute;
  top: 100%;	
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

#tag-contianer {
	display: flex;
	height: 29px;	
}

.tag {
	display: flex;
	align-items: center;
	font-size: 14px;
}

.tag-remove {
  display: flex;
  align-items: center;
  justify-content: center; /* 가로축 중앙 정렬 */
  /* 기존 스타일... */
  width: 20px; /* 원하는 너비로 설정 */
  height: 20px; /* 너비와 동일한 높이로 설정하여 원형 유지 */
  border-radius: 50%; /* 원형 모양을 만들기 위해 테두리 반경을 50%로 설정 */
  cursor: pointer; /* 마우스 포인터가 위에 있을 때 손가락 모양으로 변경 */
  /* 아이콘 색상, 크기 등을 설정할 경우 */
}
.tag-remove:hover {
	background-color: lightgrey;
}

.tag-remove svg {
  width: 20px;   /* SVG 이미지의 너비를 조정 */
  height: 20px;  /* SVG 이미지의 높이를 조정 */
  padding: 0;
  margin: 0;
}

ul.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
	z-index: 10000000;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-helper-hidden-accessible {
    display: none;
}

.ui-menu-item {
	font-size: 13px;
	padding: 10px;
}

.ui-menu-item:hover {
    background-color: #ccc /* 원하는 배경색으로 변경 */
}

/* '그룹미지정'에 해당하는 막대를 숨김 */
.highcharts-series-group .highcharts-point[data-id="그룹 미지정"] {
    display: none;
}


.card {
	margin-top: 20px;
}

.participants-section {
/*  height: 100%;*/
  max-width: 354px;
  min-width: 325px;
  overflow-y: auto; /* 내용이 높이를 넘어갈 경우 스크롤바를 표시합니다 */
  background-color: #f5f5f5; /* 배경색을 지정합니다 */
  border-radius: 8px; /* 모서리를 둥글게 처리합니다 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과를 추가합니다 */
  padding: 20px; /* 내부에 여백을 줍니다 */
  display: flex; /* Flexbox 레이아웃을 사용합니다 */
  flex-direction: column; /* 아이템들을 세로로 쌓습니다 */
  flex-shrink: 0;
}

.participants-container{
	border: 2px solid black;
	
}

.participant {
  background-color: #ffffff; /* 참여자 하나하나에 대한 배경색을 지정합니다 */
  margin-bottom: 10px; /* 참여자 사이의 간격을 띄웁니다 */
  padding: 10px; /* 참여자 컨테이너 내부 여백을 줍니다 */
  border-radius: 4px; /* 참여자 컨테이너 모서리를 둥글게 처리합니다 */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* 참여자 컨테이너에 그림자 효과를 추가합니다 */
  display: flex; /* Flexbox 레이아웃을 사용합니다 */
  align-items: center; /* 아이템들을 세로 중앙에 위치시킵니다 */
}


/* 모달 기본 스타일 */

/* 모달 기본 스타일 */
.member-modal {
  display: none; /* 모달 창은 기본적으로 표시되지 않음 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* 모달 내용 스타일 */
.modal-memberContent {
  background-color: #fefefe;
  margin: 15% auto; /* 모달 내용을 페이지 중앙에 위치 */
  padding: 20px;
  border: 1px solid #888;
  width: 400px; /* 모달 너비 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 모달에 그림자를 추가합니다. */
  border-radius: 5px; /* 모달 모서리를 둥글게 합니다. */
  position: relative; /* close 버튼을 위한 상대적 위치 */
}

/* 닫기 버튼 스타일 */
.close {
  color: #aaa;
  position: absolute; /* 모달 내용의 오른쪽 상단에 위치하도록 설정 */
  right: 10px;
  top: 0;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.write-pen {
  font-size: 30px;	
  position: absolute;
  bottom: 20px;
  right: 40px;
  display: flex; /* Flexbox를 사용하여 아이콘을 중앙에 정렬 */
  align-items: center; /* 세로축 중앙 정렬 */
  justify-content: center; /* 가로축 중앙 정렬 */
  width: 60px; /* 원하는 너비로 설정 */
  height: 60px; /* 너비와 동일한 높이로 설정하여 원형 유지 */
  border-radius: 50%; /* 원형 모양을 만들기 위해 테두리 반경을 50%로 설정 */
  border: 1px solid lightgrey; /* 테두리 스타일: 굵기, 스타일, 색상 설정 */
  /* 추가적인 스타일링 (색상, 배경, 그림자 등) */
  cursor: pointer; /* 마우스 포인터가 위에 있을 때 손가락 모양으로 변경 */
  /* 아이콘 색상, 크기 등을 설정할 경우 */
  	
}

.write-pen:hover {
  background-color: chartreuse;
}

/* 기본적으로 요약 내용은 5줄까지만 표시하고, 나머지는 숨깁니다. */
.content-summary {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

/* 요약 내용을 표시하는 클래스 */
.hidden {
  display: none;
}

