@charset "UTF-8";
/*wrap task-manager*/

.task-manager {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-width: 1320px;
	height: 100vh;
	background: #fff;
	position: relative;
}

/*탑바 detail-header*/

.detail-header {
	width: 100%;
	height: 93px;
	padding: 0 30px 0 30px;
	border-bottom: 1px solid #e3e7f7;
}

/*왼쪽 네비게이션 left-bar*/

.left-bar {
	 background-color: var(--bg-color);
	 min-width: 230px;
	 max-width: 230px;
	 border-right: 1px solid #e3e7f7;
}

.new-project-btn-wrap {
	padding: 40px 40px 10px 40px;
}

.new-project-btn {
	width: 100%;
	height: 40px;
	border-radius: 4px;
	background-color: gold;
}

.new-project-btn:hover {
	background-color: skyblue;
}

.new-project-btn > a {
	display: block;
}

.action-list {
	display: flex;
	flex-direction: column;
	gap: 1.5rem; 
	padding: 10px 40px 40px 40px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.menu-accordion-button {
	padding: 14px 40px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.left-menu-project-list-box, .left-menu-chat-list-box {
	display: none;
}

.left-menu-project-list, .left-menu-chat-list  {
	flex: 0 0 45%;
	margin-right: 5px;
	padding: 0 0 17px;
}

.left-menu-chat-list > .left-menu-chat-list-detail > div {
	cursor: pointer;
}

.lnb-bottom-customer {
	display: flex;	
	margin-top: auto;
}

.lnb-bottom-customer > a {
	display: flex;
	width: 100%;
	padding: 21px 0 21px 40px;
	height: 100%;
	font-weight: 700;
}

/*page-content*/

.page-content {
	display: flex;
	height: 100%;
	flex-direction: column;
	min-width: calc(100% - 230px);
	width: calc(100% - 230px);
    background-color: #F3F5F9;
	overflow: auto;
}

.menu-box-1 {
	width: 100%;
	
}

.menu-box-1>ul {
	display: flex;
	padding: 0 30px;
}

.menu-box-1>ul>li>a {
	padding: 20px;
}

.menu-box-1 > ul > li:hover > a::after {
    content: "";
    background-color: black;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.menu-box-1 > ul > li > a {
    position: relative;
}

.menu-box-1 > ul > li:nth-of-type(4) > a::after {
    content: "";
    background-color: black;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .3s;
}

.project-detail-content {
	display: flex;
	width: 100%;
	padding-top: 3rem;
	overflow: auto;
}

.project-detail-container {
	min-width: 1041px;
	max-height: 750.2px;
	overflow-y: auto;
}

.project-detail-container::-webkit-scrollbar-track {
  background: rgba(254, 226, 226, var(--tw-bg-opacity));
  border-radius: 6px;
}

.detail-wrap {
	display: flex;
	margin: 0 auto;
}

.postTimeline {
	margin: 0 auto;
	min-width: 674px;
	max-width: 674px;
	padding-bottom: 150px;
}

.reportArea {
	
}

.reportArea > h1 {
	padding: 0 20px;
	font-size: 20px;
	font-weight: 100px;
}

.card-short {
	background-color: #fff;
    width: 330px;
    height: 276px;
    border: 1px solid #ddd; /* 경계선 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 그림자 효과 */
    border-radius: 13px; /* 모서리 둥글게 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 */
    margin:5px;
    padding-top: 17px;
}  

.card-long-header, .card-short-header {
	padding: 0 30px;
	margin: 0 0 10px;
}  
  
.card-short-body {
	height: 226px;	
}  

.card-short-body > .team-invite {
	margin: 10px 0;
	height: 60px;
}

.card-short-body > .member-list {
	display: flex;
	margin: 0 0 10px;
	height: 60px;
	align-items: center;
}

.card-short-body > .member-list:hover {
	color: blue;
	cursor: pointer;
}
  
.layer, .invite-layer,.layer-bg {
	display: none;
}

.layer-bg, .member-modal {
  display: none; /* 모달 창은 기본적으로 표시되지 않음 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.layer {
	background-color: #fefefe;
	padding: 20px 30px;
	border: 1px solid #888;
	z-index: 9999;
	color: black;
	border-radius: 10px;
	min-width: 1000px;
	max-width: 1000px;
/*    max-height: 100%;*/
    height: 831px;
    /* 고정 위치 스타일링 */
    position: fixed;
    top: 50%; /* 브라우저 창의 중앙 정렬을 위해 margin:0 auto하면 글쓰기창이 못따라옴 */
    left: 50%; /* 중앙 정렬 */
    transform: translate(-50%, -50%); /* 정확히 중앙에 위치하도록 조정 */
    overflow-y: auto;
}

.layer .close-btn-x {
	color: #aaa;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
    right: 13px;
    top: 10px;
    cursor: pointer;
}

.status-btn-write, .status-btn-update {
  background-color: #f8f8f8;
  color: black;
  margin-right: 10px;
}

.status-btn-write.active, .status-btn-update.active {
  background-color: #4CAF50;
  color: white;
}

#submitBtn, #createMeetingBtn {
  background-color: #4CAF50;
  color: white;
  padding: 13px 10px;
/*  margin: 8px 0;*/
  border: none;
  cursor: pointer;
  width: 33%;
  display: block;
/*  margin-top: 20px;*/
  font-size: 14px;
}

#submitBtn:hover, #createMeetingBtn:hover {
  opacity: 0.8;
}

#autocomplete-results div {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 1.1rem;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: #212529;
    cursor: pointer;
}

#autocomplete-results div:hover {
    background-color: #ced4da;
}

#inputArea {
  margin-top: 20px;
}

.autocomplete-container {
  position: relative;
}

#autocomplete-results {
  position: absolute;
  top: 100%;	
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

#tag-contianer {
	display: flex;
	height: 29px;	
}

.tag {
	display: flex;
	align-items: center;
	font-size: 14px;
}

.tag-remove {
  display: flex;
  align-items: center;
  justify-content: center; /* 가로축 중앙 정렬 */
  /* 기존 스타일... */
  width: 20px; /* 원하는 너비로 설정 */
  height: 20px; /* 너비와 동일한 높이로 설정하여 원형 유지 */
  border-radius: 50%; /* 원형 모양을 만들기 위해 테두리 반경을 50%로 설정 */
  cursor: pointer; /* 마우스 포인터가 위에 있을 때 손가락 모양으로 변경 */
  /* 아이콘 색상, 크기 등을 설정할 경우 */
}
.tag-remove:hover {
	background-color: lightgrey;
}

.tag-remove svg {
  width: 20px;   /* SVG 이미지의 너비를 조정 */
  height: 20px;  /* SVG 이미지의 높이를 조정 */
  padding: 0;
  margin: 0;
}

ul.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
	z-index: 10000000;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-helper-hidden-accessible {
    display: none;
}

.ui-menu-item {
	font-size: 13px;
	padding: 10px;
}

.ui-menu-item:hover {
    background-color: #ccc /* 원하는 배경색으로 변경 */
}

/* '그룹미지정'에 해당하는 막대를 숨김 */
.highcharts-series-group .highcharts-point[data-id="그룹 미지정"] {
    display: none;
}


.card {
	margin-top: 20px;
}

.participants-section {
/*  height: 100%;*/
  max-width: 354px;
  min-width: 325px;
  overflow-y: auto; /* 내용이 높이를 넘어갈 경우 스크롤바를 표시합니다 */
  background-color: #f5f5f5; /* 배경색을 지정합니다 */
  border-radius: 8px; /* 모서리를 둥글게 처리합니다 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과를 추가합니다 */
  padding: 20px; /* 내부에 여백을 줍니다 */
  display: flex; /* Flexbox 레이아웃을 사용합니다 */
  flex-direction: column; /* 아이템들을 세로로 쌓습니다 */
  flex-shrink: 0;
}

.participants-container{
	border: 2px solid black;
	
}

.participant {
  background-color: #ffffff; /* 참여자 하나하나에 대한 배경색을 지정합니다 */
  margin-bottom: 10px; /* 참여자 사이의 간격을 띄웁니다 */
  padding: 10px; /* 참여자 컨테이너 내부 여백을 줍니다 */
  border-radius: 4px; /* 참여자 컨테이너 모서리를 둥글게 처리합니다 */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* 참여자 컨테이너에 그림자 효과를 추가합니다 */
  display: flex; /* Flexbox 레이아웃을 사용합니다 */
  align-items: center; /* 아이템들을 세로 중앙에 위치시킵니다 */
}


/* 모달 내용 스타일 */
.modal-memberContent {
  background-color: #fefefe;
  margin: 15% auto; /* 모달 내용을 페이지 중앙에 위치 */
  padding: 30px;
  border: 1px solid #888;
  width: 400px; /* 모달 너비 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 모달에 그림자를 추가합니다. */
  border-radius: 5px; /* 모달 모서리를 둥글게 합니다. */
  position: relative; /* close 버튼을 위한 상대적 위치 */
}

.modal-memberContent > h2 {
	border-bottom: 1px solid gray;
}

.modal-memberContent > #member-details {
	padding: 30px 0 30px 0;
	display: flex;
	flex-direction: column;
	gap:20px;
}

/* 닫기 버튼 스타일 */
.close {
  color: #aaa;
  position: absolute; /* 모달 내용의 오른쪽 상단에 위치하도록 설정 */
  right: 10px;
  top: 0;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*글 작성 버튼*/
.write-pen {
  font-size: 30px;	
  position: absolute;
  bottom: 30px;
  right: 60px;
  display: flex; /* Flexbox를 사용하여 아이콘을 중앙에 정렬 */
  align-items: center; /* 세로축 중앙 정렬 */
  justify-content: center; /* 가로축 중앙 정렬 */
  width: 60px; /* 원하는 너비로 설정 */
  height: 60px; /* 너비와 동일한 높이로 설정하여 원형 유지 */
  border-radius: 50%; /* 원형 모양을 만들기 위해 테두리 반경을 50%로 설정 */
  border: 1px solid lightgrey; /* 테두리 스타일: 굵기, 스타일, 색상 설정 */
  /* 추가적인 스타일링 (색상, 배경, 그림자 등) */
  cursor: pointer; /* 마우스 포인터가 위에 있을 때 손가락 모양으로 변경 */
  /* 아이콘 색상, 크기 등을 설정할 경우 */
  	
}

.write-pen:hover {
  background-color: chartreuse;
}

.balloon {
    position: absolute;
    top: -40px; /* Adjust based on your preference */
    left: 50%;
    transform: translateX(-50%);
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    white-space: nowrap;
}
.balloon::after {
    border-top:10px solid green;
    border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 0px solid transparent;
	content: "";
	position: absolute;
	top: 25px;
	right: 60px;

}

/* 기본적으로 요약 내용은 5줄까지만 표시하고, 나머지는 숨깁니다. */
.content-summary {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

/* 요약 내용을 표시하는 클래스 */
.hidden {
  display: none;
}

.select-group {
	width: 300px;
	padding: 5px;
/*	border: 1px solid #999;*/
	border-radius: 3px;
/*	background: url('https://i.ibb.co/98Vbb8L/gnb-bg.gif') no-repeat 95% 50%;*/
/*	-webkit-appearance: none;  크롬 화살표 없애기 */
/*	-moz-appearance: none;  파이어폭스 화살표 없애기 */
/*	appearance: none;  화살표 없애기 */
}

/* 프로젝트 멤버 초대 모달창 */
.project-invite-modal {
  	background-color: #fefefe;
	display: none;
	padding: 30px;
	border: 1px solid #888;
	width: 50%;
	z-index: 9999;
	color: black;
	border-radius: 10px;
	min-width: 1000px;
	max-width: 1000px;
/*    max-height: 100%;*/
    height: 85%;
    /* 고정 위치 스타일링 */
    position: fixed;
    top: 50%; /* 브라우저 창의 중앙 정렬을 위해 margin:0 auto하면 글쓰기창이 못따라옴 */
    left: 50%; /* 중앙 정렬 */
    transform: translate(-50%, -50%); /* 정확히 중앙에 위치하도록 조정 */
    overflow-y: auto;
}

/* 모달창 내용 */
.project-invite-modal .modal-content {
  padding: 15px 0;
  height: 100%;
}


/* 멤버 리스트 스타일 */
.project-invite-modal .member-list {
  list-style: none;
  padding: 0;
}

.project-invite-modal .member-list li {
  margin-bottom: 10px;
}

.project-invite-modal .member-list input[type="checkbox"] {
  margin-right: 10px;
}


/* 숨김 체크박스 */
.member-list input[type="checkbox"] {
  display: none;
}

/* 커스텀 체크박스 디자인 */
.member-list label {
  position: relative;
  padding-left: 30px; /* 체크박스 디자인과 텍스트 사이의 간격 */
  cursor: pointer;
  display: inline-block;
}

.member-list label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #4f46e5;
  border-radius: 4px;
  background-color: white;
}

/* 체크 표시가 나타나도록 수정 */
.member-list input[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid #4f46e5;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


.message-box {
	margin: 0 auto;
    position: fixed;
    top: 80px;
    right: 0px;
    background-color: deepskyblue;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1000;
}

.tab-write, .tab-meeting {
	flex-grow: 1;
	height: 30px;
	border: none; /* 테두리 제거 */
	cursor: pointer; /* 마우스 오버 시 커서 변경 */
	border-radius: 10px;
}

.active-tab {
	background-color: #4CAF50; /* 활성 탭의 배경 색상 */
	color: white; /* 활성 탭의 글자 색상 */
}

/* 탭 버튼 기본 상태 */
.tab-btn {
	transition: background-color 0.3s ease; /* 부드러운 색상 변화 */
}

/* 탭 버튼 호버 상태 */
.tab-btn:hover {
	background-color: #ddd; /* 마우스 오버 시 배경 색상 */
}

.tab-meeting-content {
	height: 713px;
}

.card-long {
	background-color: #fff;
    width: 668px;
    height: 276px;
    border: 1px solid #ddd; /* 경계선 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 그림자 효과 */
    border-radius: 13px; /* 모서리 둥글게 */
    overflow: auto;
    margin:5px;
    padding: 17px 0 10px;
  }
  


.card-long-header > p, .card-short-header > p {
	font-size: 17px;
	font-weight: 700;
}

.card-long-body, .card-short-body {
	padding: 5px 16px 0 30px;
}

.fc-event {
    transition: transform 0.2s, box-shadow 0.2s;
}
.fc-event:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}