@charset "EUC-KR";

.page-content {
/*    background-color: #f2e1f2;*/
	background-color: #f7e4f7;
	overflow: auto;
}

.dashboard-container {
	min-width: 1020px;
    max-width: 1020px;
    padding: 80px 0 60px;
    margin: 0 auto;
}


.dashboard-profile-name {
	font-size: 27px;
	font-weight: 700;
}

.widget-date {
	font-size: 16px;
}


.widget-container {
	padding: 20px 0 50px;
}


.card-long {
	background-color: #fff;
    width: 668px;
    height: 276px;
    border: 1px solid #ddd; /* 경계선 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 그림자 효과 */
    border-radius: 13px; /* 모서리 둥글게 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 */
    margin:5px;
    padding: 17px 0 10px;
  }
  
.card-long-header, .card-short-header {
	padding: 0 30px;
	margin: 0 0 10px;
}  

.card-long-header > p, .card-short-header > p {
	font-size: 17px;
	font-weight: 700;
}

.card-long-body, .card-short-body {
	padding: 5px 16px 0 30px;
}
.project-list {
	flex: 0 0 45%;
	margin-right: 5px;
	padding: 0 0 17px;
}

.card-short {
	background-color: #fff;
    width: 330px;
    height: 276px;
    border: 1px solid #ddd; /* 경계선 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 그림자 효과 */
    border-radius: 13px; /* 모서리 둥글게 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 */
    margin:5px;
    padding-top: 17px;
  }  
  
.card-short-body {
	height: 226px;	
}  

.card-short-body > .team-invite {
	margin: 10px 0;
	height: 60px;
}

.card-short-body > .member-list:hover {
	color: blue;
	cursor: pointer;
}
  
.card-short-body > .member-list {
	margin: 0 0 10px;
	height: 60px;
}

.member-icon-wrap {
	width: 56px;
	height: 56px;
	border-radius: 24px;
	background-color: #d1c5db
}

.member-icon {
	font-size: 28px; /* 글씨 크기를 박스에 맞게 조정 */
	padding: 0; /* 내부 여백을 제거 */
	margin: 0; /* 외부 여백을 제거 */
	line-height: 1; /* 글씨의 높이를 박스 높이에 맞게 조정 */
 	height: 100%; /* 부모 요소의 높이에 맞게 조정 */
	width: 100%; /* 부모 요소의 너비에 맞게 조정 */
	box-sizing: border-box; /* 패딩과 테두리가 너비에 포함되도록 설정 */
	color: white;
}

.member-list-detail {
	margin-left: 10px;
}  


.card-short-body::-webkit-scrollbar {
  width: 6px;
}

.card-short-body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.card-short-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card-short-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}