@charset "EUC-KR";

/*wrap task-manager*/

.task-manager {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-width: 1320px;
	height: 100vh;
	background: #fff;
	position: relative;
}

/*탑바 detail-header*/
.detail-header {
	width: 100%;
	height: 93px;
	padding: 0 30px 0 30px;
	border-bottom: 1px solid #e3e7f7;
}

/*왼쪽 네비게이션 left-bar*/

.left-bar {
	 background-color: #fff;
	 min-width: 230px;
	 max-width: 230px;
	 border-right: 1px solid #e3e7f7;
}

.new-project-btn-wrap {
	padding: 40px 40px 10px 40px;
}

.new-project-btn {
	width: 100%;
	height: 40px;
	border-radius: 4px;
	background-color: gold;
}

.new-project-btn:hover {
	background-color: skyblue;
}

.new-project-btn > a {
	display: block;
}

.action-list {
	display: flex;
	flex-direction: column;
	gap: 1.5rem; 
	padding: 10px 40px 40px 40px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.menu-accordion-button {
	padding: 14px 40px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.left-menu-project-list-box, .left-menu-chat-list-box {
	display: none;
}

.left-menu-project-list, .left-menu-chat-list  {
	flex: 0 0 45%;
	margin-right: 5px;
	padding: 0 0 17px;
}

.left-menu-chat-list > .left-menu-chat-list-detail > div {
	cursor: pointer;
}

.lnb-bottom-customer {
	display: flex;	
	margin-top: auto;
}

.lnb-bottom-customer > a {
	display: flex;
	width: 100%;
	padding: 21px 0 21px 40px;
	height: 100%;
	font-weight: 700;
}

/*page-content*/

.page-content {
	display: flex;
	height: 860px;
	flex-direction: column;
	min-width: calc(100% - 230px);
	width: calc(100% - 230px);
    background-color: #F3F5F9;
	overflow: auto;
}

.dashboard-container {
	min-width: 1020px;
    max-width: 1020px;
    padding: 60px 0 60px;
    margin: 0 auto;
}


.dashboard-profile-name {
	font-size: 27px;
	font-weight: 700;
}

.widget-date {
	font-size: 16px;
}


.widget-container {
	padding: 20px 0 50px;
}


.card-long {
	background-color: #fff;
    width: 668px;
    height: 276px;
    border: 1px solid #ddd; /* 경계선 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 그림자 효과 */
    border-radius: 13px; /* 모서리 둥글게 */
    overflow: auto;
    margin:5px;
    padding: 17px 0 10px;
  }
  
.card-long-header, .card-short-header {
	padding: 0 30px;
	margin: 0 0 10px;
}  

.card-long-header > p, .card-short-header > p {
	font-size: 17px;
	font-weight: 700;
}

.card-long-body, .card-short-body {
	padding: 5px 16px 0 30px;
}
.project-list {
	flex: 0 0 45%;
	margin-right: 5px;
	padding: 0 0 17px;
}

.card-short {
	background-color: #fff;
    width: 330px;
    height: 276px;
    border: 1px solid #ddd; /* 경계선 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 그림자 효과 */
    border-radius: 13px; /* 모서리 둥글게 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 */
    margin:5px;
    padding-top: 17px;
  }  
  
.card-short-body {
	height: 226px;	
}  

.card-short-body > .team-invite {
	margin: 10px 0;
	height: 60px;
}

.card-short-body > .member-list:hover {
	color: blue;
	cursor: pointer;
}
  
.card-short-body > .member-list {
	margin: 0 0 10px;
	height: 60px;
}

.member-invite-icon-wrap {
	width: 56px;
	height: 56px;
	border-radius: 24px;
	background-color: #d1c5db
}

.member-icon-wrap {
	width: 56px;
	height: 56px;
}

.member-icon {
	font-size: 28px; /* 글씨 크기를 박스에 맞게 조정 */
	padding: 0; /* 내부 여백을 제거 */
	margin: 0; /* 외부 여백을 제거 */
	line-height: 1; /* 글씨의 높이를 박스 높이에 맞게 조정 */
 	height: 100%; /* 부모 요소의 높이에 맞게 조정 */
	width: 100%; /* 부모 요소의 너비에 맞게 조정 */
	box-sizing: border-box; /* 패딩과 테두리가 너비에 포함되도록 설정 */
	color: white;
}

.member-icon > img {
	border-radius: 50%;
    object-fit: cover;
}

.member-list-detail {
	margin-left: 10px;
}  


.card-short-body::-webkit-scrollbar {
  width: 6px;
}

.card-short-body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.card-short-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card-short-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

/* 모달 기본 스타일 */
.member-modal {
  display: none; /* 모달 창은 기본적으로 표시되지 않음 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* 모달 내용 스타일 */
.modal-memberContent {
  background-color: #fefefe;
  margin: 15% auto; /* 모달 내용을 페이지 중앙에 위치 */
  padding: 30px;
  border: 1px solid #888;
  width: 400px; /* 모달 너비 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 모달에 그림자를 추가합니다. */
  border-radius: 5px; /* 모달 모서리를 둥글게 합니다. */
  position: relative; /* close 버튼을 위한 상대적 위치 */
}

.modal-memberContent > h2 {
	border-bottom: 1px solid gray;
}

.modal-memberContent > #member-details {
	padding: 30px 0 30px 0;
	display: flex;
	flex-direction: column;
	gap:20px;
}

/* 닫기 버튼 스타일 */
.close {
  color: #aaa;
  position: absolute; /* 모달 내용의 오른쪽 상단에 위치하도록 설정 */
  right: 10px;
  top: 0;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.left-menu-project-list-box > div:hover {
	color: blue;
}

.left-menu-chat-list-box > div:hover {
	color: blue;
	cursor: pointer;
}


.layer, .invite-layer,.layer-bg {
	display: none;
}

.layer-bg, .member-modal {
  display: none; /* 모달 창은 기본적으로 표시되지 않음 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.invite-layer {
	background-color: #fefefe;
	padding: 30px;
	border: 1px solid #888;
	width: 600px;
	z-index: 9999;
	color: black;
	border-radius: 10px;
	max-width: 1000px;
/*    max-height: 100%;*/
    height: 300px;
    /* 고정 위치 스타일링 */
    position: fixed;
    top: 50%; /* 브라우저 창의 중앙 정렬을 위해 margin:0 auto하면 글쓰기창이 못따라옴 */
    left: 50%; /* 중앙 정렬 */
    transform: translate(-50%, -50%); /* 정확히 중앙에 위치하도록 조정 */
    overflow-y: auto;
}

.invite-layer .close-btn-x {
	color: #aaa;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

.invite-layer .invite-box{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.invite-layer .invite-box > div {
	font-size: 20px;
	margin-bottom: 30px;
}

.invite-layer .invite-box > #exampleFormControlInput1 {
	width: 550px;
}

.invite-layer .invite-box > #submitBtn {
	position: absolute;
	bottom: 20px;
	right: 20px;
}


.close-btn-x:hover,
.close-btn-x:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

