.myproject-container {
	min-width: 1500px;
    padding: 60px 0 60px;
    margin: 0 auto;
}

.page-content {
	background-color: #f7e4f7;
}

.main-content {
	min-width: 100%;
}

.left-menu-project-list-box > div:hover {
	color: blue;
}

.left-menu-chat-list-box > div:hover {
	color: blue;
	cursor: pointer;
}
