@charset "UTF-8";
.status {
    position: relative; /* 상태 리스트의 위치를 결정하는 기준점을 설정합니다. */
}

.status-list {
    position: absolute;
    top: 100%; /* 상태 컬럼 바로 아래에 위치하도록 설정합니다. */
    left: 0;
    /* 필요한 스타일을 추가합니다. */
}

