@charset "UTF-8";

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html > body, html > body .ProseMirror, html > body .toastui-editor-contents {
	font-family: 'NanumSquareNeo-Variable', sans-serif;
	font-size: 14px;
	text-underline-position: under;
}

html > body .ProseMirror, html > body .toastui-editor-contents {
	font-size: 1.25rem;
}

.table-box-type > table {
	width: 100%;
}

.border-bottom-line {
	border-bottom: 1px solid #96948d;
}

.btns > .btn-text-color {
	color:black;
}

.btns > .btn-text-color:hover {
	color:white;
}

.nav {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.top {
    width: 100%;
/*    height: 132px;*/
    border-bottom: 1px solid #dee0ea;
    position: relative;
    background: #fff;
    z-index: 999;
}

/*.menu {*/
/*    margin-left: 0px;*/
/*    padding: 0px 24px;*/
/*}    */

/*.menu a {*/
/*    width: auto;*/
/*    height: 60px;*/
/*    line-height: 60px;*/
/*    text-align: center;*/
/*    box-sizing: border-box;*/
/*    position: relative;*/
/*}*/

.log {
    display: flex;
    padding-top: 10px;
    margin-left: 40px;
}
.brand {
	padding-top: 15px;	
	padding-right: 15px;
	padding-left: 24px;	
}

.login-box button {
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    margin: 30px 0px 15px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-width: 0px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #6a8fff;
}

.login-box, .join-box {
    padding: 38px 40px;
    margin: 10px auto 0px;
    width: 450px;
    border: 1px solid #e0e4ed;
}

.login-box h1, .join-box h1 {
   	font-weight: 700;
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 40px;
}

.joinus button {
    cursor: pointer;
    color: black;
    font-size: 18px;
    margin: 15px 0px 15px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-width: 0px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #b2b3b6;
}

.join-box button {
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    margin: 30px 0px 15px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-width: 0px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #6a8fff;
}



.widget-list {
	display: flex;
	flex-wrap: wrap;
	
}
.widget-list > .widget {
    display:inline-block;
    width: 670px;
    height: 276px;
    padding: 17px 0 0;
    position: relative;
    background: linear-gradient(180deg,#fff 0,rgba(255,255,255,0) 64.41%),rgba(255,255,255,.75);
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    border: 1px solid #fff;
    border-radius: 13px;
    transition: all .1s ease;
    margin: 0 auto;
}

.bookmark-button {
    position: absolute;
    top: 1px;
    width: 22px;
    height: 22px;
    background-image: url("/flow-renewal/assets/images/icons/icon_star_on.png?v=a92226bd38ca294a4b524c3fe704fdbe310f2b8b");
    background-size: 22px;
    cursor: pointer;
}

#favoriteIcon, .favoriteIcon {
    cursor: pointer;
}


#favoriteIcon.fas, .favoriteIcon.fas { /* 즐겨찾기 된 상태 */
    color: gold;
}

.new-project-btn {
	width: 100%;
	height: 40px;
	border-radius: 4px;
	background-color: gold;
}

.new-project-btn:hover {
	background-color: skyblue;
}

.action-list {
	padding: 40px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.lnb-bottom-customer {

	display: flex;
	
}

.lnb-bottom-customer > a {
	display: flex;
	width: 100%;
	padding: 21px 0 21px 40px;
	height: 100%;
	font-weight: 700;
	
}

.menu-accordion-button {
	padding: 14px 40px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.left-menu-project-list-box, .left-menu-chat-list-box {
	display: none;
}

.left-menu-project-list, .left-menu-chat-list  {
	flex: 0 0 45%;
	margin-right: 5px;
	padding: 0 0 17px;
}

.left-menu-chat-list > .left-menu-chat-list-detail > div {
	cursor: pointer;
}

.fc-daygrid-event {
	margin-bottom: 3px;
	border-radius: 100%;
}

/*input[type='date']::before {*/
/*  content: attr(data-placeholder);*/
/*  width: 100%;*/
/*}*/

/*input[type='date']:focus::before,*/
/*input[type='date']:valid::before {*/
/*  display: none;*/
/*}*/


input[type="date"] {
  width:120px;
}
input[type="date"]::before {
  display:none;
}
input[type="date"].after::-webkit-calendar-picker-indicator{
    margin-left: 0px;
}


/*스크롤바 커스텀*/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}


.profile-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.profile-photo-container img {
    width: 100px; /* 원하는 크기로 조정 */
    height: 100px; /* 원하는 크기로 조정 */
    border-radius: 50%; /* 동그란 형태 만들기 */
    object-fit: cover; /* 이미지 비율 유지 */
}

.profile-photo-text {
    margin-top: 10px; /* 이미지와 텍스트 사이의 간격 조정 */
    font-size: 16px; /* 텍스트 크기 조정 */
}