@charset "EUC-KR";

.top-bar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #f2e7f3;
	background-color:#f7daf4;
	z-index: 1;
}

.top-bar > .top-bar-container {
	display: flex;
	height: 100%;
	margin: 0 80px;
}

.top-bar .member-login-box > div {
	margin-left: 20px;
	font-size: 18px;
}

.member-detail-menu {
	display: none;
	min-width: 218px;
    padding: 14px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 13;
    background: #fff;
    border: 1px solid #777;
    border-radius: 8px;
    font-size: 13px;
    text-align: left;
    color: #555;
}
.member-detail-menu > li {
	margin-top: 10px;
}


.main-background-color {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, #ffffff, #f7e4f7);
}

.main-background-color > .introduce-wrap {
	margin-top: 120px;
	text-align: center;
}
.main-background-color > .introduce-wrap > h1 {
	font-size: 45px;
}
.main-background-color > .introduce-wrap > div {
	font-size: 30px;
	margin-top: 30px;
	opacity: .6;
}
.main-background-color > .introduce-wrap > button {
	font-size: 15px;
	margin-top: 30px;
	border: 1px solid #d663ff;
	padding: 10px 110px;
	font-weight: 700;
}

.main-background-color > .introduce-wrap > button:hover {
	border: 1px solid #d663ff;
	background-color: #d663ff;
	color: white;
}