@charset "EUC-KR";

.warp {
	min-width: 1340px;
}

.container {
	padding-right: 0;
    padding-left: 0;
}

.header {
	width: 1300px;
	margin: 0 auto;
	margin-bottom: 100px;
}

.center-container{
	width: 1300px;
	margin: 0 auto;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.profile-photo-container {
	padding-bottom: 100px;
}

.profile-photo-container .profile-photo {
	width: 150px;
	height: 150px;
}